<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogorio</title>
  <link rel="stylesheet" href="/css/styles.css"">
</head>

<body>
    <header>
        <h1>Bloggorio.</h1>
    </header>
  <div class="container">
 
 <h3>Recent blogs

 </h3>

    <ul class="posts-list">
    
      <% posts.forEach((post, index) => { %>
        <li>
          <h2><a href="/post/<%= index %>"><%= post.title %></a></h2>
          <p><%= post.content.substring(0, 100) %>...</p>
        </li>
      <% }) %>
    </ul>
    <a href="/new" class="new-post-btn">Create New Post</a>
  </div>
</body>

</html>
