<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <div class="logon">
        <h1>Welcome to Bloggorio!</h1>
        <h3>Sign in now to get back to blogging</h3>

        <form action="/index" method="POST">
            <div class="lg-details-name">
                <input type="text" name="username" placeholder="Enter Username">
            </div>
            <div class="lg-details-password">
                <input type="password" name="password" placeholder="Enter Password">
            </div>
            <div class="lg-details-submit">
                <button type="submit" value="Submit" class="btn-sub"> Login </button>
            </div>
        </form>

    </div>
</body>
</html>


   

   
</body>
</html>