<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
       <h1>Bloggorio</h1>
    </header>
    <div class="container">
        <h1><%= post.title %></h1>
        <p> <%= post.content %></p>
        <a href="/index" class="backBtn">Back to Home</a>
    </div>
</body>
</html>